body {
	font-family: "Lucida Console", Monaco, monospace;
	background-color : #1D1D1D;
	color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
* {
	box-sizing: border-box;
}
button {
	background-color: #292929;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#canvasMain {
	margin:auto;
	display: block;
	background-color: #000000;
	border:2px solid rgba(200,200,200,0.2);
}
.what {
	@media all and (orientation:portrait) {
		body {
			overflow:hidden;
		}
		#canvasMain {
			width:100vw;
		}
	}
	@media all and (orientation:landscape) {
		body {
			overflow:hidden;
		}
		#canvasMain {
			height:100vh;
		}
	}
}
